@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --color-1: #be185d;
  --color-2: #9d174d;
  --color-3: #db2777;
  --color-4: #ec4899;

  --color-5: #4ade80;
  --color-6: #3bb266;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;


  background-color: #fdfdfc;
  opacity: 1;
  background-image: linear-gradient(#eeece9 1.1px, transparent 1.1px), linear-gradient(to right, #eeece9 1.1px, var(--off-white-color) 1.1px);
  background-size: 22px 22px;
}



.container {
  background: #bae6fd;
  background-image: linear-gradient(to left, var(--color-5), var(--color-6)), linear-gradient(to right,
      var(--color-6),
      var(--color-5));
  min-width: 25vw;
  height: 80vh;
  padding: 1.5rem;
  border-radius: 11px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%); */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.heading {
  /* font-size: 2.5rem; */
  font-size: clamp(2rem, 2vw, 4rem);
  background-color: #0A1829;
  /* background: linear-gradient(to right, var(--color-4) 50%, var(--color-3) 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading::selection {
  color: #2c854d;
}

.search {
  background-color: #666;
  padding: 1.5rem;
  width: 90%;
  border: none;
  border-radius: 100px;
  outline: none;

  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  color: #e9e6e6;
}

.search::placeholder {
  color: #b1a9a9;
}


.input {
  background-color: #43c873;
  padding: 1.5rem;
  width: 90%;
  border: none;
  border-radius: 100px;
  outline: none;

  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  color: #eee;
}

.input::placeholder {
  color: var(--color-5);
  font-size: 1.6rem;
}

.input::selection {
  color: #349b5a;
}

.btn {
  padding: 1.5rem;
  border: none;
  outline: none;
  border-radius: 100px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  transition: all .2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  color: #eee;
  transform: translateY(3px);
  outline-style: solid;
  outline-color: var(--color-5);
  outline-width: 2px;
  outline-offset: 1px;
  background-image: linear-gradient(to left, var(--color-5), var(--color-6));
}

.item-container {
  width: 100%;
  padding: .8rem;
  overflow-y: auto;
}

.item-list {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  list-style: none;
  padding: 2rem;
  background-image: linear-gradient(to left, var(--color-6), var(--color-5));
  border-radius: 11px;
  color: #0A1829;
}

/* .item::marker {
  content: "X";
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: red;
} */

.item-container::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

.item-container::-webkit-scrollbar-track {
  background: #4ade80;
  /* color of the tracking area */
}

.item-container::-webkit-scrollbar-thumb {
  background-color: #349b5a;
  /* background-color: #424263; */
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #2c854d;
  /* border: 3px solid #a1a1aa; */
  /* creates padding around scroll thumb */
}

@media only screen and (min-width:990px) and (max-width:1024px) {
  .container {
    width: 40vw;
    margin-top: 3rem;
  }
}

@media only screen and (min-width:769px) and (max-width:989px) {
  .container {
    width: 40vw;
    margin-top: 3rem;
  }
}

@media only screen and (max-width:540px) {
  .container {
    width: 80vw;
    margin-top: 3rem;
  }
}